/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background:rgb(102, 64, 31);
     font-family: 'Playfair Display', serif;
}

/* NAVBAR */
.navbar {
     background-color: rgba(62, 31, 6, 0.996);
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

nav {
    margin-right: auto;
}

nav a {
    margin-left: 42px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1.5px;
    transition: opacity 0.3s;
}

nav a:hover {
    color: #ffffff;
}

.logo img {
    height: 55px;
}




/* MOVIES SECTION */
.movies {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 100px 50px;
    flex-wrap: wrap;
}

.movie-card {
    text-align: center;
}

.movie-card img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px; /* SAME height for all cards */
}

.movie-card img:hover {
    transform: scale(1.05);
}

.movie-card button {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #2b1b0f;
    font-family: 'Playfair Display', serif;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

.movie-card button:hover {
    background-color: #4a2e1a;
}